@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    /* font-weight: 100;
    font-style: normal; */
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 134px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

div h1 {
    color: white;
    justify-content: center;
}

.hero {
    z-index: 10;
    color: white;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", serif;
    font-weight: 600;
    font-style: normal;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.separation {
    height: 5px;
    background-color: rgb(71, 71, 71);
}

.btn {
    padding: 3px 8px;
    background-color: rgba(248, 243, 243, 0.342);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 14px;
}

.btn-red {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
    border: red;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: red;
    padding: 5px 10px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

div.curved-line {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    top: 0;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    
    align-items: center;
    border: solid .25rem transparent;
    
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
}